:root {
    --cursor-path: url("../res/images/cursor.png");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

canvas {
    margin: auto
}

canvas:hover {
    cursor: var(--cursor-path), auto;
}